*, *::before, *::after {
  box-sizing: border-box;
  font-family: Cambria, monospace;
  font-weight: normal;
}


body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  border:  #854798;
}
.container
{
width: 300px;
height: 450px;
padding: 20px;
display: flex;
top: 50%;
left: 50%;
justify-content: center;
align-items: center;
background-color: #011627; 
border-radius: 5px;
border-style: solid;
border-color: #98D2EB;

}
.container:hover{
  box-shadow: 0 0 30px#98D2EB;
}



input[type=text], select, textarea {
  width: 180px; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid#98D2EB; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 12px auto;
  background: none;
  color: #854798;
  transition: 0.25s;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]:focus, select, textarea {
width: 250px;
border-color: #854798;
box-shadow: 0 0 15px #854798;
}

input[type=submit]{
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #98D2EB;
  padding: 14px 10px;
  outline: none;
  color: #98D2EB;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family: Gotham Rounded, monospace;
}
input[type=submit]:hover{
  border: 2px solid#98D2EB;
  background: #98D2EB;
  color: #011627;
  font-weight: bold;
  }

.margin10 { margin:10px 0; }
.center { text-align:center; }
h1
{
  color: #011627;
  font-family: Helvetica;
  font-weight: bolder;
  display: inline;
  position: relative;
  letter-spacing: -2px;
  text-shadow: -1px -1px 0px #98D2EB, 1px 1px 0px #98D2EB;
}



h5
{
  color: red;
  font-family: Helvetica, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

label
{
  color: #98D2EB;
  font-family: Gotham Rounded, monospace;
  font-weight: bold;
}

